.project-container {
  padding-left: 15%;
  padding-top: 2%;
}

.pointual {
  width: 500px;
  height: auto;
  border-radius: 3%;
}

.description-container {
  position: relative;
  left: 450px;
  top: -50px;
  width: 35%;
  border: solid 2px #50bed4;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3%;
  padding: 10px;
}

.page-title {
  font-family: "Monoton", cursive;
  font-size: 96px;
  font-weight: 100;
  position: relative;
  display: inline;
  margin: 0;
  left: 50px;
  top: 10px;
  z-index: 100;
}
.page-buttons {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-evenly;
  position: relative;
  top: -100px;
  left: 100px;
}

.horizontalSlider___281Ls {
  height: 430px;
}
